<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555302188/shape/mentalfloss/booksbookshed.jpg" width:auto height:auto ></ion-img>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget est in erat pulvinar ultricies sit amet in nisi. Proin eu mi luctus, rutrum sapien et, consequat nunc. Phasellus a odio risus. Donec vel velit purus. Nam quis sagittis ligula, a laoreet lacus. Nam tortor ligula, accumsan suscipit commodo non, porttitor a quam. Sed consequat nulla eget leo dignissim, a aliquam felis euismod. Sed congue gravida dolor in tempus. Sed sed eros sit amet diam cursus elementum non id urna. In rutrum felis dolor, id gravida sem mattis at. Phasellus sit amet ligula sed metus vehicula rutrum eget a tortor. Suspendisse vel purus laoreet, sagittis purus convallis, volutpat ante.</p>
  <ion-button color="success" [routerDirection]="'root'" [routerLink]="'/chapter3'">Back a page</ion-button>
  <ion-button color="success"  [routerDirection]="'root'" [routerLink]="'/toc'">Back to toc</ion-button>
  <ion-button color="success" [routerDirection]="'root'" [routerLink]="'/chapter5'">Next page</ion-button>
</ion-content>

    <ion-toolbar>
      <ion-title>page 4</ion-title>
    </ion-toolbar>
